{% extends 'cabinet/layout/base.html' %}
{% load django_tables2 %}

{% block title %}
    <title>taxiber — Список городов</title>

{% endblock title %}


{% block content %}
     <div class="container-fluid">
            <div class="page-title">
              <div class="row">
                <div class="col-6">
                  <h3>Список городов</h3>
                </div>
                <div class="col-6">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ url_dashboard }}"><i data-feather="home"></i></a></li>
                    <li class="breadcrumb-item">Меню администратора</li>
                    <li class="breadcrumb-item active">Список городов</li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
    <div class="col-12 mb-5">
        <a href="{% url 'cabinet:city_create' %}" class="btn btn-pill btn-primary">Зарегистрировать город</a>
    </div>
    <div class="col-12">
        {% render_table table %}
    </div>

{% endblock content %}
